apiVersion: v2
name: umami
description: Umami is a simple, fast, privacy-focused alternative to Google Analytics.
type: application
version: 1.4.1
appVersion: "postgresql-v1.40.0"
home: https://github.com/christianknell/helm-charts
icon: https://raw.githubusercontent.com/umami-software/umami/master/public/android-chrome-512x512.png
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://github.com/umami-software/umami
  - https://umami.is/
dependencies:
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.2.1
    condition: postgresql.enabled
  - name: mysql
    repository: https://charts.bitnami.com/bitnami
    version: 9.5.0
    condition: mysql.enabled
