---
apiVersion: v2
name: umami
description: Umami is a simple, fast, privacy-focused alternative to Google Analytics.
type: application
version: 7.2.0
appVersion: "v2.20.1"
home: https://github.com/christianhuth/helm-charts
icon: https://raw.githubusercontent.com/christianhuth/helm-charts/refs/heads/main/charts/umami/icon.svg
maintainers:
  - name: christianhuth
    email: christian@knell.it
sources:
  - https://github.com/umami-software/umami
  - https://umami.is/
dependencies:
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 18.2.0
    condition: postgresql.enabled
  - name: mysql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 14.0.3
    condition: mysql.enabled
annotations:
  artifacthub.io/category: monitoring-logging
  artifacthub.io/changes: |
    - kind: changed
      description: hpa spec to align with v2
  artifacthub.io/links: |
    - name: support
      url: https://github.com/christianhuth/helm-charts/issues
  artifacthub.io/screenshots: |
    - title: Umami measures just the important metrics that you care about and everything is displayed on a single, easy to browse page.
      url: https://umami.is/images/feature-website-stats.png
    - title: Get detailed breakdowns about your visitors including what browser, OS and device they used.
      url: https://umami.is/images/feature-session-stats.png
    - title: Track more than just pageviews. Capture any event on your website like button clicks and form entries.
      url: https://umami.is/images/feature-events.png
    - title: Dive deeper into your data using easy to apply filters. Segment your users by any metric such as browser, OS, and country.
      url: https://umami.is/images/feature-filters.png
    - title: Get a realtime view of your current website traffic. See the exact pages where your visitors are landing.
      url: https://umami.is/images/feature-realtime.png
    - title: Umami has been translated into many different languages by the very active open source community.
      url: https://umami.is/images/feature-languages.png
    - title: Umami is able to track an unlimited number of websites from a single installation. You can even track subdomains and individual URLs.
      url: https://umami.is/images/feature-websites.png
    - title: Umami can be used to host data for friends or clients. Just create a separate account and they can start tracking their own websites on their own dashboard.
      url: https://umami.is/images/feature-accounts.png
    - title: The Umami interface has been optimized for mobile so you can view your stats from anywhere.
      url: https://umami.is/images/feature-mobile.png
    - title: Dark mode included. Choose your favorite theme for Umami.
      url: https://umami.is/images/feature-dark-mode.png
  artifacthub.io/signKey: |
    fingerprint: EE24F8BB6D099E78FD704F83B5ECDBCDDD485D0E
    url: https://charts.christianhuth.de/public.key
