{{ $chart := (ds "chart") -}}
{{ $changes := (ds "changes") -}}
# {{ $chart.name }}

## {{ $chart.version }}

{{- range $kind := $changes }}

### {{ $kind.key | strings.Title }}
{{ range $change := $kind.value }}
- {{ $change.description }}
{{- end }}

{{- end }}
