{{- if .Values.namespace.enabled }}
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    {{- include "tenant-namespace.namespace.annotations" . | nindent 4 }}
  labels:
    {{- include "tenant-namespace.namespace.labels" . | nindent 4 }}
  name: {{ include "tenant-namespace.namespace.name" . | quote }}
{{- end }}
