{{ template "chart.header" . }}
{{ template "chart.description" . }}

## TL;DR;

```console
helm repo add christianhuth https://charts.christianhuth.de
helm repo update
helm install my-release christianhuth/netcupscp-exporter
```

## Introduction

This chart bootstraps a [Prometheus Exporter for Netcup ServerControlPanel (SCP) WebService](https://github.com/mrueg/netcupscp-exporter) using the [Helm](https://helm.sh) package manager.

## Prerequisites

- Kubernetes 1.19+

## Installing the Chart

To install the chart with the release name `my-release`:

```console
helm repo add christianhuth https://charts.christianhuth.de
helm repo update
helm install my-release christianhuth/netcupscp-exporter
```

These commands deploy Skooner on the Kubernetes cluster in the default configuration. The [Values](#values) section lists the values that can be configured during installation.

> **Tip**: List all releases using `helm list`

## Uninstalling the Chart

To uninstall the `my-release` deployment:

```console
helm uninstall my-release
```

The command removes all the Kubernetes components associated with the chart and deletes the release.

{{ template "chart.valuesSection" . }}

Specify each parameter using the `--set key=value[,key=value]` argument to `helm install`.

Alternatively, a YAML file that specifies the values for the parameters can be provided while installing the chart. For example,

```console
helm install my-release -f values.yaml christianhuth/netcupscp-exporter
```

## Upgrading the Chart

### To 2.0.0

This major removes the old way of authenticating against Netcup SCP with username and password, that was defined through the `.Values.env.username`, `.Values.env.password` and `.Values.env.existingSecret` variables.
You can define your authentication details (a refresh token) now through `.Values.auth.refreshToken` and `.Values.auth.existingSecret`.
See [this](https://github.com/mrueg/netcupscp-exporter#usage) documentation on how to obtain the Refresh Token.
