---
apiVersion: v2
name: kube-ops-view
description: A Helm chart for bootstrapping kube-ops-view.
type: application
version: 2.0.4
appVersion: "23.2.0"
home: https://github.com/christianknell/helm-charts
icon: https://codeberg.org/repo-avatars/677-c51f6426305941cab515fdd98368f0bb
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://codeberg.org/hjacobs/kube-ops-view
dependencies:
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.8.0
    condition: redis.enabled
