# Default values for kube-ops-view.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Provide a name in place of `kube-ops-view`
nameOverride: ""

# -- String to fully override `"kube-ops-view.fullname"`
fullnameOverride: ""

image:
  # -- image registory
  registry: docker.io
  # -- image repository
  repository: hjacobs/kube-ops-view
  # -- image pull policy
  pullPolicy: Always
  # Overrides the image tag
  tag: "23.5.0"

# -- If defined, uses a Secret to pull an image from a private Docker registry or repository.
imagePullSecrets: []

# optional arguments to add external links for nodes and pods
args: []
  # - --node-link-url-template=https://kube-web-view.example.org/clusters/{cluster}/nodes/{name}
  # - --pod-link-url-template=https://kube-web-view.example.org/clusters/{cluster}/namespaces/{namespace}/pods/{name}

# -- Number of replicas
replicaCount: 1

# -- The number of old ReplicaSets to retain
revisionHistoryLimit: 10

# -- Annotations to be added to exporter pods
podAnnotations: {}

# -- container-level security context
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  # -- Kubernetes service type
  type: ClusterIP
  # -- Kubernetes port where service is exposed
  port: 80

# -- Resource limits and requests for the controller pods.
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 200m
  #   memory: 100Mi
  # requests:
  #   cpu: 50m
  #   memory: 50Mi

# -- Node labels for pod assignment
nodeSelector: {}

# -- Toleration labels for pod assignment
tolerations: []

# -- Affinity settings for pod assignment
affinity: {}

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

redis:
  # -- Redis™ architecture. Allowed values: standalone or replication
  architecture: standalone
  auth:
    # -- Disable password authentication as the kube-ops-view container has no support for password authentication
    enabled: false
  # -- enable Redis™ subchart from Bitnami
  enabled: false
