---
apiVersion: v2
name: passbolt-ha
description: A Helm chart to deploy Passbolt with MySQL and ProxySQL for HA
type: application
version: 1.7.5
home: https://github.com/christianknell/helm-charts
icon: https://avatars.githubusercontent.com/u/4386228?s=200&v=4
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://github.com/bitnami/charts/tree/master/bitnami/mysql
  - https://github.com/cnieg/helm-charts/tree/master/charts/passbolt
  - https://github.com/flachesis/proxysql/tree/master/charts/proxysql
dependencies:
  - name: mysql
    repository: https://charts.bitnami.com/bitnami
    version: 9.10.7
  - name: passbolt
    repository: https://cnieg.github.io/helm-charts
    version: 1.1.17
  - name: proxysql
    repository: https://christianknell.github.io/helm-charts/
    version: 1.1.2
annotations:
  artifacthub.io/category: security
  artifacthub.io/changes: |
    - kind: changed
      description: bumped chart version of mysql to 9.10.7
  artifacthub.io/screenshots: |
    - title: The login screen of Passbolt
      url: https://help.passbolt.com/assets/img/help/2021/02/AN_login_v3.png
    - title: There are two parts - the searchable non encrypted metadata called resource and the encrypted part containing called secret.
      url: https://help.passbolt.com/assets/img/help/2021/02/LU_encrypted_description.png
    - title: You can organize your secrets inside of folders.
      url: https://help.passbolt.com/assets/img/help/2019/12/LU_folder_preview.png
    - title: You can send an url of a given resource and share it with colleagues.
      url: https://help.passbolt.com/assets/img/help/2019/02/LU_application_urls.png
    - title: Includes a dark theme that can be used in place of the black on white default theme.
      url: https://help.passbolt.com/assets/img/help/2018/06/LU_passwords_midgar.png
    - title: It is possible for an admin to enable and configure multi-factor authentication providers.
      url: https://help.passbolt.com/assets/img/help/2018/12/AD_mfa_org_settings_yubikey.png
    - title: Administrators can manage subscriptions directly in the backend.
      url: https://help.passbolt.com/assets/img/help/2021/05/AD_subscription_management.png
