---
apiVersion: v2
name: passbolt-ha
description: A Helm chart to deploy Passbolt with MySQL and ProxySQL for HA
type: application
version: 1.4.0
home: https://github.com/christianknell/helm-charts
icon: https://avatars.githubusercontent.com/u/4386228?s=200&v=4
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://github.com/bitnami/charts/tree/master/bitnami/mysql
  - https://github.com/cnieg/helm-charts/tree/master/charts/passbolt
  - https://github.com/flachesis/proxysql/tree/master/charts/proxysql
dependencies:
  - name: mysql
    repository: https://charts.bitnami.com/bitnami
    version: 9.7.0
  - name: passbolt
    repository: https://cnieg.github.io/helm-charts
    version: 1.1.15
  - name: proxysql
    repository: https://christianknell.github.io/helm-charts/
    version: 1.1.0
annotations:
  artifacthub.io/category: security
  artifacthub.io/screenshots: |
    - title: Includes a dark theme that can be used in place of the black on white default theme.
      url: https://help.passbolt.com/assets/img/help/2018/06/LU_passwords_midgar.png
