# -- Provide a name in place of `timetagger`
nameOverride: ""

# -- String to fully override `"timetagger.fullname"`
fullnameOverride: ""

image:
  # -- image registory
  registry: ghcr.io
  # -- image repository
  repository: almarklein/timetagger
  # -- image pull policy
  pullPolicy: Always
  # -- Overrides the image tag
  tag: "v25.12.1"

# -- If defined, uses a Secret to pull an image from a private Docker registry or repository.
imagePullSecrets: []

# -- Number of replicas
replicaCount: 1

# -- The number of old ReplicaSets to retain
revisionHistoryLimit: 0

# -- pod-level security context
podSecurityContext:
  fsGroup: 1000
  runAsGroup: 1000
  runAsUser: 1000

# -- Resource limits and requests for the controller pods.
# @default -- see [values.yaml](./values.yaml)
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 100Mi

# -- container-level security context
securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  # -- Kubernetes service type
  type: ClusterIP
  # -- Kubernetes port where service is exposed
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

autoscaling:
  # -- Enable Horizontal POD autoscaling
  enabled: false
  # -- Minimum number of replicas
  minReplicas: 1
  # -- Maximum number of replicas
  maxReplicas: 100
  # -- Target CPU utilization percentage
  targetCPUUtilizationPercentage: 80
  # -- Target Memory utilization percentage
  targetMemoryUtilizationPercentage: 80

livenessProbe:
  # -- Failure threshold for livenessProbe
  failureThreshold: 6
  # -- Initial delay seconds for livenessProbe
  initialDelaySeconds: 10
  # -- Period seconds for livenessProbe
  periodSeconds: 5
  # -- Success threshold for livenessProbe
  successThreshold: 1
  # -- Timeout seconds for livenessProbe
  timeoutSeconds: 1

readinessProbe:
  # -- Failure threshold for readinessProbe
  failureThreshold: 6
  # -- Initial delay seconds for readinessProbe
  initialDelaySeconds: 10
  # -- Period seconds for readinessProbe
  periodSeconds: 5
  # -- Success threshold for readinessProbe
  successThreshold: 1
  # -- Timeout seconds for readinessProbe
  timeoutSeconds: 1

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Node labels for pod assignment
nodeSelector: {}

# -- Toleration labels for pod assignment
tolerations: []

# -- Affinity settings for pod assignment
affinity: {}

# -- additional environment variables to be added to the pods
extraEnv: []

# -- additional environment variables from ConfigMaps or Secrets
extraEnvFrom: []
  # - configMapRef:
  #     name: my-configmap
  # - secretRef:
  #     name: my-secret

auth:
  # -- Use an existing Secret for basic authentication. Username and password have to be stored as key credentials in the form username:password
  existingSecret: ""
  # -- Username for basic authentication
  username: "test"
  # -- Password for basic authentication. Should be a salted bcrypt hash of the password. Can be generated e.g. using https://timetagger.app/cred.
  password: "$2a$08$5R4yIIiiea0DjjwJV1UyBuRkql7Eik9uBiyzwMI5E8d.WtBshWdl2"

config:
  log:
    # -- log level: debug, info, warn, error
    level: info

persistence:
  # -- use a PVC to persist data
  enabled: false
  # -- the desired access modes the volume should have.
  accessModes:
    - ReadWriteOnce
  # -- Annotations to be added to the PersistentVolumeClaim
  annotations: {}
  # -- provide an existing PersistentVolumeClaim
  existingClaim: ""
  # -- Name of the StorageClass required by the claim.
  storageClassName: ""
  # -- represents the minimum and maximum resources the volume should have.
  resources: {}
