apiVersion: v2
name: shlink-backend
description: A PHP-based self-hosted URL shortener that can be used to serve shortened URLs under your own domain.
type: application
version: 0.0.7
appVersion: "3.1.2"
home: https://github.com/christianknell/helm-charts
icon: https://shlink.io/images/shlink-logo-blue.svg
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://github.com/shlinkio/shlink
  - https://shlink.io
dependencies:
  - name: mariadb
    repository: https://charts.bitnami.com/bitnami
    version: 11.1.7
    condition: mariadb.enabled
  - name: mysql
    repository: https://charts.bitnami.com/bitnami
    version: 9.2.6
    condition: mysql.enabled
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 11.7.0
    condition: postgresql.enabled
  - name: rabbitmq
    repository: https://charts.bitnami.com/bitnami
    version: 10.2.1
    condition: rabbitmq.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.0.10
    condition: redis.enabled
