apiVersion: v2
name: shlink-backend
description: A PHP-based self-hosted URL shortener that can be used to serve shortened URLs under your own domain.
type: application
version: 5.7.2
appVersion: "4.4.5"
home: https://github.com/christianhuth/helm-charts
icon: https://shlink.io/images/shlink-logo-blue.svg
maintainers:
  - name: christianhuth
    email: christian@knell.it
sources:
  - https://github.com/shlinkio/shlink
  - https://shlink.io
dependencies:
  - name: mariadb
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 20.4.1
    condition: mariadb.enabled
  - name: mysql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 12.3.3
    condition: mysql.enabled
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.5.2
    condition: postgresql.enabled
  - name: rabbitmq
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 15.3.3
    condition: rabbitmq.enabled
  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 20.11.3
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: dependency to postgresql to 16.5.2
  artifacthub.io/signKey: |
    fingerprint: EE24F8BB6D099E78FD704F83B5ECDBCDDD485D0E
    url: https://charts.christianhuth.de/public.key
