apiVersion: v2
name: shlink-backend
description: A PHP-based self-hosted URL shortener that can be used to serve shortened URLs under your own domain.
type: application
version: 1.24.6
appVersion: "3.5.5"
home: https://github.com/christianknell/helm-charts
icon: https://shlink.io/images/shlink-logo-blue.svg
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://github.com/shlinkio/shlink
  - https://shlink.io
dependencies:
  - name: mariadb
    repository: https://charts.bitnami.com/bitnami
    version: 11.5.7
    condition: mariadb.enabled
  - name: mysql
    repository: https://charts.bitnami.com/bitnami
    version: 9.10.4
    condition: mysql.enabled
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.5.8
    condition: postgresql.enabled
  - name: rabbitmq
    repository: https://charts.bitnami.com/bitnami
    version: 11.16.2
    condition: rabbitmq.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.11.6
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: bumped dependency of redis to chart version 17.11.6
