apiVersion: v2
name: shlink-backend
description: A PHP-based self-hosted URL shortener that can be used to serve shortened URLs under your own domain.
type: application
version: 9.0.0
appVersion: "4.6.0"
home: https://github.com/christianhuth/helm-charts
icon: https://raw.githubusercontent.com/christianhuth/helm-charts/refs/heads/main/charts/shlink-backend/icon.svg
maintainers:
  - name: christianhuth
    email: christian@knell.it
sources:
  - https://github.com/shlinkio/shlink
  - https://shlink.io
dependencies:
  - name: mariadb
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 24.0.2
    condition: mariadb.enabled
  - name: mysql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 14.0.3
    condition: mysql.enabled
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 18.1.15
    condition: postgresql.enabled
  - name: rabbitmq
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.0.14
    condition: rabbitmq.enabled
  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 24.1.0
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: App Version to 4.6.0
    - kind: changed
      description: dependency of mariadb to 24.0.2
    - kind: changed
      description: dependency of redis to 24.1.0
    - kind: changed
      description: dependency of postgresql to 8.1.15
    - kind: changed
      description: image repository and tag for subcharts
  artifacthub.io/links: |
    - name: support
      url: https://github.com/christianhuth/helm-charts/issues
  artifacthub.io/signKey: |
    fingerprint: EE24F8BB6D099E78FD704F83B5ECDBCDDD485D0E
    url: https://charts.christianhuth.de/public.key
