apiVersion: v2
name: shlink-backend
description: A PHP-based self-hosted URL shortener that can be used to serve shortened URLs under your own domain.
type: application
version: 5.0.0
appVersion: "4.4.0"
home: https://github.com/christianhuth/helm-charts
icon: https://shlink.io/images/shlink-logo-blue.svg
maintainers:
  - name: christianhuth
    email: christian@knell.it
sources:
  - https://github.com/shlinkio/shlink
  - https://shlink.io
dependencies:
  - name: mariadb
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 20.2.1
    condition: mariadb.enabled
  - name: mysql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 12.2.2
    condition: mysql.enabled
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.4.5
    condition: postgresql.enabled
  - name: rabbitmq
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 15.2.3
    condition: rabbitmq.enabled
  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 20.6.3
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: app version to 4.4.0
    - kind: changed
      description: dependency to mariadb to 20.2.1
    - kind: changed
      description: dependency to mysql to 12.2.2
    - kind: changed
      description: dependency to postgresql to 16.4.5
    - kind: changed
      description: dependency to rabbitmq to 15.2.3
    - kind: changed
      description: dependency to redis to 20.6.3
  artifacthub.io/signKey: |
    fingerprint: EE24F8BB6D099E78FD704F83B5ECDBCDDD485D0E
    url: https://charts.christianhuth.de/public.key
