apiVersion: v2
name: shlink-backend
description: A PHP-based self-hosted URL shortener that can be used to serve shortened URLs under your own domain.
type: application
version: 4.4.1
appVersion: "3.7.4"
home: https://github.com/christianhuth/helm-charts
icon: https://shlink.io/images/shlink-logo-blue.svg
maintainers:
  - name: christianhuth
    email: christian@knell.it
sources:
  - https://github.com/shlinkio/shlink
  - https://shlink.io
dependencies:
  - name: mariadb
    repository: https://charts.bitnami.com/bitnami
    version: 16.5.0
    condition: mariadb.enabled
  - name: mysql
    repository: https://charts.bitnami.com/bitnami
    version: 9.23.0
    condition: mysql.enabled
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 14.3.3
    condition: postgresql.enabled
  - name: rabbitmq
    repository: https://charts.bitnami.com/bitnami
    version: 12.12.0
    condition: rabbitmq.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 18.14.0
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: bumped helm dependency for mysql to 9.23.0
