apiVersion: v2
name: kutt
description: Kutt is a free modern URL shortener.
type: application
version: 1.1.10
appVersion: "v2.7.4"
home: https://github.com/christianknell/helm-charts
icon: https://www.saashub.com/images/app/service_logos/15/d634f2359578/large.png
maintainers:
  - name: christianknell
    email: christian@knell.it
sources:
  - https://github.com/thedevs-network/kutt
dependencies:
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.1.6
    condition: postgresql.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.3.17
    condition: redis.enabled
