apiVersion: v2
name: kutt
description: Kutt is a free modern URL shortener.
type: application
version: 8.1.0
appVersion: "v3.2.3"
home: https://github.com/christianhuth/helm-charts
icon: https://raw.githubusercontent.com/christianhuth/helm-charts/refs/heads/main/charts/kutt/icon.svg
maintainers:
  - name: christianhuth
    email: christian@knell.it
sources:
  - https://github.com/thedevs-network/kutt
dependencies:
  - name: postgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 18.2.0
    condition: postgresql.enabled
  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 24.1.0
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: dependency of postgresql to 18.2.0
  artifacthub.io/links: |
    - name: support
      url: https://github.com/christianhuth/helm-charts/issues
  artifacthub.io/screenshots: |
    - title: Simply shorten your link using the Web UI.
      url: https://d4.alternativeto.net/v9sHosD3RiPblfBOOHZi0gwU1M0pRL6Jn53oiobJi9k/rs:fit:1200:1200:0/g:ce:0:0/YWJzOi8vZGlzdC9zL2t1dHQtaXRfNzY3MjMzX2Z1bGwucG5n.jpg
    - title: You can see a list of the most recent created links and some statistical data about them.
      url: https://docs.cloudron.io/img/kutt-admin.png
    - title: View detailed statistics about each created link.
      url: https://kutt.it/images/callout.png
    - title: Kutt supports having more than one domain.
      url: https://docs.cloudron.io/img/kutt-custom-domain.png
  artifacthub.io/signKey: |
    fingerprint: EE24F8BB6D099E78FD704F83B5ECDBCDDD485D0E
    url: https://charts.christianhuth.de/public.key
