name: Chart-Preparation

on:
  workflow_call:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.7
      - uses: pre-commit/action@v3.0.1

  # documentation:
  #   needs:
  #     - pre-commit
  #   runs-on: ubuntu-latest
  #   container: ghcr.io/chgl/kube-powertools:latest
  #   steps:
  #     - name: checkout git repository
  #       uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0
  #     - name: Check if documentation is up-to-date
  #       run: generate-docs.sh && git diff --exit-code HEAD

  # changelog:
  #   needs:
  #     - pre-commit
  #   runs-on: ubuntu-latest
  #   container: ghcr.io/chgl/kube-powertools:latest
  #   steps:
  #     - name: checkout git repository
  #       uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0
  #     - name: Update dependencies
  #       run: find charts/ ! -path charts/ -maxdepth 1 -type d -exec helm dependency update {} \;
  #     # used to test whether the changelog generation process works properly
  #     - name: Generate changelogs
  #       run: bash .github/generate-chart-changelogs.sh
