name: Chart-Preparation

on:
  workflow_call:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - run: |
          curl -o /usr/local/bin/gomplate -sSL https://github.com/hairyhenderson/gomplate/releases/download/v4.3.2/gomplate_linux-amd64
          chmod 755 /usr/local/bin/gomplate
          gomplate --version
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files || exit 0
      - name: Check for modified files
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Files have been modified by pre-commit."
            echo "changes_detected=true" >> $GITHUB_ENV
          else
            echo "No changes detected."
            echo "changes_detected=false" >> $GITHUB_ENV
          fi
      - name: Commit and push changes
        if: env.changes_detected == 'true'
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            # Extract the source branch of the PR
            branch_name="${{ github.event.pull_request.head.ref }}"
          else
            # Extract branch from push event
            branch_name=$(echo "${GITHUB_REF#refs/heads/}")
          fi
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git checkout ${{ github.head_ref }}
          git add .
          git commit -m "chore: auto-upgrade schema and readme"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
