name: Chart-Preparation

on:
  workflow_call:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files || exit 0
      - name: Check for modified files
        id: check_files
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Files have been modified by pre-commit."
            echo "changes_detected=true" >> $GITHUB_ENV
          else
            echo "No changes detected."
            echo "changes_detected=false" >> $GITHUB_ENV
          fi
      - name: Commit and push changes
        if: env.changes_detected == 'true'
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            # Extract the source branch of the PR
            branch_name="${{ github.event.pull_request.head.ref }}"
          else
            # Extract branch from push event
            branch_name=$(echo "${GITHUB_REF#refs/heads/}")
          fi
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add .
          git commit -m "chore: auto-fix pre-commit changes"
          git push origin $branch_name
          exit 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # changelog:
  #   needs:
  #     - pre-commit
  #   runs-on: ubuntu-latest
  #   container: ghcr.io/chgl/kube-powertools:latest
  #   steps:
  #     - name: checkout git repository
  #       uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0
  #     - name: Update dependencies
  #       run: find charts/ ! -path charts/ -maxdepth 1 -type d -exec helm dependency update {} \;
  #     # used to test whether the changelog generation process works properly
  #     - name: Generate changelogs
  #       run: bash .github/generate-chart-changelogs.sh
