name: Chart-Unittesting

on:
  workflow_call:
  workflow_dispatch:

jobs:

  helm-uninttest:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.head_ref }}

      - name: setup helm
        uses: azure/setup-helm@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: helm dependency update on changed charts
        run : ct list-changed --config .github/config/chart-testing.yaml | xargs -d '\n' -I {} helm dependency update {}

      - name: Set up helm-unittest plugin
        run: helm plugin install --verify=false https://github.com/helm-unittest/helm-unittest.git

      - name: helm unittest on changed charts
        run: ct list-changed --config .github/config/chart-testing.yaml | xargs -d '\n' -I {} helm unittest {}
