name: Renovate

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  "*/30 * * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ github.head_ref }}

      - name: Install gomplate
        run: |
          curl -o /tmp/gomplate -sSL https://github.com/hairyhenderson/gomplate/releases/download/v4.3.0/gomplate_linux-amd64
          chmod 755 /tmp/gomplate

      - name: Install yq
        run: |
          curl -o /tmp/yq -sSL https://github.com/mikefarah/yq/releases/download/v4.45.4/yq_linux_amd64
          chmod 755 /tmp/yq

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.0
        env:
          LOG_LEVEL: DEBUG  # or INFO, WARN, ERROR, FATAL
          RENOVATE_REPOSITORIES: ${{ github.repository }}
        with:
          configurationFile: .github/config/renovate.js
          docker-volumes: |
            /tmp/gomplate:/usr/local/bin/gomplate ;
            /tmp/yq:/usr/local/bin/yq ;
          token: ${{ secrets.RENOVATE_TOKEN }}
